<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>User Interface API</title>
        <base href="{{ rootLocation}}">
        <link rel="stylesheet" href="static/node_modules/jquery-ui-dist/jquery-ui.min.css">
        <link rel="stylesheet" href="static/node_modules/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="static/node_modules/@fortawesome/fontawesome-free/css/all.min.css" />
        <link rel="stylesheet" media="all" href="static/css/style.css" />
        <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon" />
    </head>
    <body id="appeltaart" class="background bg-white" data-api="{{ rootLocation }}api/" data-root="{{ rootLocation }}" data-operation="{{ operation }}" data-identifier="{{ identifier }}">
        <!-- START HEADER -->
        <header>
            <div class="container p-0">
                <nav class="navbar navbar-expand-sm navbar-light px-3">
                    <a class="navbar-brand" href="/"><strong class="text-white">User Interface API</strong></a>
                </nav>
            </div>  
        </header>  
        <!-- END HEADER -->    
        <main class="container-fluid flex-fill">
            {% if operation == "variety" %}
            {% include "modules/variety.html" %}
            {% elif operation == "collection" %}
            {% include "modules/collection.html" %}
            {% else %}
            {% include "modules/home.html" %}
            {% endif %}
        </main>
        <!-- START FOOTER -->
        <footer>
            <div class="container">
                User Interface API
            </div>
        </footer>
        <script type="text/javascript" src="static/node_modules/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="static/node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
        <script type="text/javascript" src="static/node_modules/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
        <script type="text/javascript" src="static/node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
        <script type="text/javascript" src="static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="static/node_modules/d3/dist/d3.min.js"></script>
        <script type="text/javascript" src="static/javascript/script.js"></script>
    </body>
</html>